<style>
  .business-image {
    background-image:url(<%= @business_image %>);
    background-size: cover;
    background-position: center center;
    border-radius: 15px;
  }
</style>
<% content_for :navbar do %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">FoodPicker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse form-group float-right">
      <%= form_tag("index",method: "get") do %>
        <div class="row">
        <div class="col-4 input-group" style="padding-top: 10px">
          <%= label_tag(:q, "Food Type", class: 'input-group-addon') %>
          <%= text_field_tag(:foodtype, "", class: 'form-control') %>
        </div>
        <div class="col-4 input-group" style="padding-top: 10px">
          <%= label_tag(:q, "City, State", class: 'input-group-addon') %>
          <%= text_field_tag(:city, "", class: 'form-control') %>
        </div>
        <div class="col-4">
          <%= submit_tag("Pick Food", class: 'btn btn-primary btn-block', style: 'margin-top: 10px') %>    
        </div>
    <% end %>
  </div>
</div>
</nav>
<% end %>
<div class="container">
<div class="jumbotron col-lg-12">
  <div class="row">
  <div class="col-lg-6">
    <%= image_tag(@business_image, class: 'img-fluid rounded') %>
  </div>
  <div class="col-lg-6" style="padding-top: 75px">
    <h1><%= @business_name %></h1>
    <a href="https://maps.google.com/?q=<%= @business_address %><%= @business_city %>"><h5><%= @business_address %></h5>
    <h5 style="line-height: 30%"><%= @business_city %></h5></a>
    <h5><%= @business_phone %></h5>
    <% if @business_name != "No Results" %>
    <h5>Rating: <%= @business_rating %></h5>
    <p style="line-height: 10%; font-size: 14px">Based on <a href="<%= @business_url %>"><%= @business_review_count %> Reviews</a></p>
    <% end %>
    <p style="font-size: 12px"><a href="https://www.yelp.com/search?find_desc=<%= @foodtype %>&find_loc=<%= @city %>"><%= @total_results %> results for: <%= @foodtype %>, <%= @city %></a></p>
  </div>
</div>
</div>
</div>
