<!DOCTYPE html>
<html>
  <head>
    <title>Foodpicker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
<% if content_for?(:navbar) %>
    <%= yield(:navbar) %>
<% else %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">FoodPicker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse form-group float-right">
    <%= form_tag("search/index",method: "get") do %>
      <div class="row">
      <div class="col-4 input-group">
        <%= label_tag(:q, "Food Type", class: 'input-group-addon') %>
        <%= text_field_tag(:foodtype, "", class: 'form-control') %>
      </div>
      <div class="col-4 input-group">
        <%= label_tag(:q, "City, State", class: 'input-group-addon') %>
        <%= text_field_tag(:city, "", class: 'form-control') %>
      </div>
      <div class="col-4">
        <%= submit_tag("Pick Food", class: 'btn btn-primary btn-block') %>
      </div>
      </div>
    <% end %>
  </div>
</div>
</nav>
<% end %>
    <main role="main" class="container">

      <div class="app-wrapper">
        <%= yield %>
      </div>

    </main><!-- /.container --> 
  </body>
</html>
